@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body{
        background-image: linear-gradient(to top, #100346, #490000);
    }

    h1{
        font-size: 2em;
        margin: 10px;
    }

    p{
        font-size: 1.2em;
        margin-top: 50px;
    }

    form{
        margin-top: 60px;
    }

    #login{
        width: 90vw;
        height: 400px;
    }

    form > input[type=submit]{
        margin-top: 30px;
    }
/*form > a.botao*/
    #imagem{
        float: right;
        width: 38%;
        height: 100%;
        
    }

    #formulario{
        float: left;
        width: 62%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #100346, #490000);
    }

    #login{
        width: 90vw;
        max-width: 800px;
        height: 400px;
    }

    #imagem{
        float: left;
        width: 60%;
        height: 100%;
        
    }

    #formulario{
        float: right;
        width: 40%;
    }




}