@charset "UTF-8";

/*
Paleta de cores
Verde: #49a09d
Lilás: #5f2c82
*/

:root{
    --colorblue: #0b0035;
    --colorpurple: #1a004b;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Mobile First */

body,html{
    background-color: #0b0035;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

h1{
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 20px;
}

p{
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 20px;
}

#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden; /*ISSO FAZ TUDO FORA DA BORDA FICAR ESCONDIDO*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

#imagem{
    background: #1a004b url(../Imagens/pexels-suzyhazelwood-1629236.jpg) left center no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
    
}

#formulario{
    padding: 10px;
    display: block;
}

/*#user,#senha{
    display: block;
    margin:10px auto
}