@charset "UTF-8";

/*
Paleta de cores
Verde: #49a09d
Lilás: #5f2c82
*/

:root{
    --colorblue: #0b0035;
    --colorpurple: #1a004b;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Mobile First */

body,html{
    background-color: #0b0035;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

h1{
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 10px;
}

p{
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10px;
}

#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden; /*ISSO FAZ TUDO FORA DA BORDA FICAR ESCONDIDO*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: width .1s, height .1s;
    transition-timing-function: ease;
}

#imagem{
    background: #1a004b url(../Imagens/pexels-suzyhazelwood-1629236.jpg) left center no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
    
}

#formulario{
    padding: 10px;
    display: block;
}

form > div.campo{
    background-color: #1a004b;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 45px;
    color: white;
    background-color: #2c007e;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #1a004b;
    transition: 0.2s;
    font-size: 1.05em;
}

div.campo > label{
    display: none;
}

form > a.botao{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    color: white;
    background-color: #1a004b ;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    padding-top: 6px;
}

form > a.botao:hover{
    background-color: #0a001d;
    transition: 0.2s;
}

form > a.botao > span{
    font-size: 0.8em;
}

/*#user,#senha{
    display: block;
    margin:10px auto
}